In [4]:
import pandas as pd
import numpy as np
import os
import requests
import zipfile
import io

In [13]:
performance_files = [file for file in os.listdir() if file.startswith('Sample_Orgination_Validated')]

In [14]:
files= performance_files
files

['Sample_Orgination_Validated_1999.csv',
 'Sample_Orgination_Validated_2000.csv',
 'Sample_Orgination_Validated_2001.csv',
 'Sample_Orgination_Validated_2002.csv',
 'Sample_Orgination_Validated_2003.csv',
 'Sample_Orgination_Validated_2004.csv',
 'Sample_Orgination_Validated_2005.csv',
 'Sample_Orgination_Validated_2006.csv',
 'Sample_Orgination_Validated_2007.csv',
 'Sample_Orgination_Validated_2008.csv',
 'Sample_Orgination_Validated_2009.csv',
 'Sample_Orgination_Validated_2010.csv',
 'Sample_Orgination_Validated_2011.csv',
 'Sample_Orgination_Validated_2012.csv',
 'Sample_Orgination_Validated_2013.csv',
 'Sample_Orgination_Validated_2014.csv',
 'Sample_Orgination_Validated_2015.csv',
 'Sample_Orgination_Validated_2016.csv']

### creating dataframe for each columns to create a table

In [15]:
#list1= pd.DataFrame([YearList5])
def creating_df_for_each_column():
    year = pd.DataFrame([YearList])
    loanCount=pd.DataFrame([LoanCountList])
    Tota_Orig_UPB = pd.DataFrame([Total_Original_UPBList])
    Avg_UPB =pd.DataFrame([AvgUPBList])
    Credit_Score= pd.DataFrame([Weight_scoreList])
    CLTV_Ratio =pd.DataFrame([CLTV_RatioList])
    LTV_Ratio = pd.DataFrame([LTV_RatioList])
    DTI_Ratio= pd.DataFrame([Debt_Income_RatioList])
    WAC = pd.DataFrame([Weighted_Average_CouponList])
    
    SummaryTable = pd.concat([year,loanCount,Tota_Orig_UPB,Avg_UPB,Credit_Score,CLTV_Ratio,LTV_Ratio,DTI_Ratio,WAC],axis=0)
    SummaryTable =SummaryTable.T
    SummaryTable.columns = ['Year','Loan Count','Total Original UPB($B)','Average Original UPB ($)','Credit Score','Original Combined Loan-to-Value (CLTV) Ratio','Original Loan-to-Value (LTV) Ratio','Original Debt-toIncome (DTI) Ratio1',
                        'Weighted Average Coupon (WAC)']
    SummaryTable.to_csv("Sample_Original_Summary.csv", index=None)

In [16]:
## Empty the list if it already exists

In [17]:
def empty_list():
    if len(LoanCountList)==0:
        pass
    else:
        del LoanCountList
    
    if len(Total_Original_UPBList) ==0:
        pass
    else:
        del Total_Original_UPBList
    
    if len(YearList)==0:
        pass
    else:
        del YearList
    
    if len(Weight_scoreList) ==0:
        pass
    else:
        del Weight_scoreList
    
    if len(CLTV_RatioList)==0:
        pass
    else:
        del CLTV_RatioList
    
    if len(AvgUPB) ==0:
        pass
    else:
        del AvgUPB
    
    if len(LTV_RatioList)==0:
        pass
    else:
        del LTV_RatioList
    
    if len(Debt_Income_RatioList) ==0:
        pass
    else:
        del Debt_Income_RatioList
    
    if len(Weighted_Average_CouponList) ==0:
        pass
    else:
        del Weighted_Average_CouponList

In [18]:
# Summary for each col

In [19]:
try:
    empty_list()
except:
    pass

LoanCountList = []
Total_Original_UPBList= []
YearList= []
Weight_scoreList= []
CLTV_RatioList= []
AvgUPBList =[]
LTV_RatioList = []
Debt_Income_RatioList= []
Weighted_Average_CouponList= []
for i in range(len(files)):
    df = pd.DataFrame()
    df = pd.read_table(files[i],delimiter=',')
    
    year=files[i][-8:-4]
    LoanCount = df['CREDIT_SCORE'].count() ## loan Count 
    Original_UPB = (format(df['ORIGINAL_UPB'].sum(),'.1f'))
    Weight_score = int(round((df['CREDIT_SCORE']*df['ORIGINAL_UPB']).sum()/(df['ORIGINAL_UPB'].sum())))
    Orginal_CLTV_Ratio = (format((df['ORIGINAL_COMBINED_LOAN_TO_VALUE_CLTV']*df['ORIGINAL_UPB']).sum()/df['ORIGINAL_UPB'].sum(),'.1f'))
    AvgUPB = format(df['ORIGINAL_UPB'].sum()/(LoanCount),'.1f')
    Original_LTV_Ratio =(format((df['ORIGINAL_LOAN_TO_VALUE_LTV']*df['ORIGINAL_UPB']).sum()/df['ORIGINAL_UPB'].sum(),'.1f'))
    Original_Debt_Income_Ratio = (format((df['ORIGINAL_DEBT_TO_INCOME_DTI_RATIO']*df['ORIGINAL_UPB']).sum()/df['ORIGINAL_UPB'].sum(),'.1f'))
    Weighted_Average_Coupon =format((df['ORIGINAL_UPB']*df['ORIGINAL_INTEREST_RATE']).sum()/df['ORIGINAL_UPB'].sum(),'.1f')
        
        
    YearList.append(year)
    LoanCountList.append(LoanCount)
    Total_Original_UPBList.append(Original_UPB)
    Weight_scoreList.append(Weight_score)
    CLTV_RatioList.append(Orginal_CLTV_Ratio)
    AvgUPBList.append(AvgUPB)
    LTV_RatioList.append(Original_LTV_Ratio)
    Debt_Income_RatioList.append(Original_Debt_Income_Ratio)
    Weighted_Average_CouponList.append(Weighted_Average_Coupon)
    
    creating_df_for_each_column()

/Users/vikasshah/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyError: 'CREDIT_SCORE'

In [4]:
## mortgage units based on property state and Occupany status.
#PREPAYMENT_PENALTY_MORTGAGE_PPM_FLAG

#for i in range(len(files)): 
    #df1 = pd.read_table(files[i],delimiter=',')
    

df1 = pd.read_table('Sample_Original_Validated_1999.csv',delimiter=',')

df2 =df1.groupby(['PROPERTY_STATE','NUMBER_OF_UNITS','OCCUPANCY_STATUS']).size().unstack()
df2
### property state by channel and credit score
#df.groupby(['PROPERTY_STATE','FIRST_TIME_HOMEBUYER_FLAG','CREDIT_SCORE']).size()

OCCUPANCY_STATUS                    I       O      S
PROPERTY_STATE NUMBER_OF_UNITS
AK             1                  3.0    60.0    NaN
               2                  NaN     7.0    NaN
               4                  1.0     1.0    NaN
AL             1                 13.0   546.0   29.0
               2                  1.0     1.0    NaN
AR             1                  7.0   184.0    5.0
               2                  1.0     1.0    NaN
AZ             1                 89.0  1412.0  121.0
               2                  4.0     2.0    NaN
               3                  4.0     2.0    NaN
               4                  3.0     1.0    NaN
CA             1                385.0  5754.0  188.0
               2                 45.0    77.0    NaN
               3                  5.0    10.0    NaN
               4                 19.0    10.0    NaN
CO             1                 98.0  1415.0   37.0
               2                  6.0     7.0    NaN
               3                  2.0     NaN    NaN
               4                  4.0     2.0    NaN
CT             1                  4.0   511.0    5.0
               2                  4.0     9.0    NaN
               3                  4.0     2.0    NaN
               4                  1.0     NaN    NaN
DC             1                 10.0    85.0    1.0
               2                  4.0     2.0    NaN
               4                  1.0     NaN    NaN
DE             1                  2.0   165.0   17.0
               2                  NaN     1.0    NaN
FL             1                 97.0  2695.0  302.0
               2                 10.0    12.0    NaN
...                               ...     ...    ...
RI             1                  3.0   122.0    5.0
               2                  2.0     6.0    NaN
               3                  2.0     NaN    NaN
SC             1                 20.0   636.0   66.0
               3                  1.0     NaN    NaN
SD             1                  5.0    88.0    3.0
               2                  1.0     1.0    NaN
TN             1                 15.0   645.0   16.0
               2                  NaN     5.0    NaN
TX             1                 68.0  2578.0   44.0
               2                 15.0    19.0    NaN
               4                  1.0     NaN    NaN
UT             1                 20.0   602.0   20.0
               2                  8.0     4.0    NaN
               3                  1.0     1.0    NaN
               4                  3.0     NaN    NaN
VA             1                 38.0  1210.0   38.0
               2                  5.0     2.0    NaN
VT             1                  NaN   145.0   24.0
               2                  NaN     3.0    NaN
WA             1                 70.0  1460.0   24.0
               2                 15.0     7.0    NaN
               3                  2.0     1.0    NaN
               4                  2.0     1.0    NaN
WI             1                  6.0   861.0   24.0
               2                 19.0    32.0    NaN
               3                  4.0     1.0    NaN
               4                  2.0     NaN    NaN
WV             1                  1.0   102.0    4.0
WY             1                  1.0    69.0    6.0

[155 rows x 3 columns]

for i in range(len(files)):
    Quarter_procssed_df = pd.DataFrame()
    Quarter_procssed_df = pd.read_table(files[i],delimiter=',')

ax = Quarter_procssed_df[['CREDIT_SCORE','PROPERTY_STATE']].plot(kind='bar', title ="V comp", figsize=(15, 10), legend=True, fontsize=12)
plt.show()